name: Python wheels
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main


jobs:

  build_wheels:
    name: Build wheels on ${{ matrix.os }} (${{ matrix.arch }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest, macos-13]
        arch: [x86_64, aarch64]
        exclude:
          - os: windows-latest
            arch: aarch64
          - os: macos-13
            arch: aarch64

    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Set up QEMU
        if: ${{ matrix.arch == 'aarch64' }}
        uses: docker/setup-qemu-action@v3

      - name: Install Ninja
        id: ninja
        uses: turtlesec-no/get-ninja@main

      - name: Install MSVC amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64

      - name: Update Clang
        if: ${{ matrix.os == 'macos-latest' && matrix.arch == 'arm64' }}
        run: |
          sudo xcode-select -s /Applications/Xcode_15.0.app/Contents/Developer
          clang -v

      - name: Build wheels (Windows)
        if: runner.os == 'Windows'
        uses: pypa/cibuildwheel@v2.16.5
        env:
          CIBW_BEFORE_ALL: python -m pip install cibuildwheel -U
          CIBW_ENVIRONMENT: CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5"
          CIBW_BUILD: 'cp310-win_amd64 cp311-win_amd64 cp312-win_amd64'
          CIBW_BEFORE_TEST: python -m pip install --upgrade pip && python -m pip install -r requirements-test.txt
          CIBW_TEST_COMMAND: >
            cmd /V /C "set BLOSC_TRACE=1 && python -m pytest {project}/tests"

      - name: Build wheels (Linux x86_64)
        if: ${{ matrix.os != 'windows-latest' && matrix.arch != 'aarch64' && runner.os == 'Linux'}}
        uses: pypa/cibuildwheel@v2.16.5
        env:
          # The build requirements should be installed by the pyproject.toml specs
          CIBW_BEFORE_BUILD: python3 -m pip install --upgrade pip && python3 -m pip install blosc2
          CIBW_ENVIRONMENT: CMAKE_OSX_ARCHITECTURES=x86_64 CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5"
          CIBW_BUILD: 'cp310-* cp311-* cp312-*'
          CIBW_BEFORE_TEST: python3 -m pip install --upgrade pip && python3 -m pip install -r requirements-test.txt
          CIBW_TEST_COMMAND: >
            BLOSC_TRACE=1 python3 -m pytest {project}/tests
          CIBW_ARCHS_LINUX: ${{ matrix.arch }}
          CIBW_ARCHS_MACOS: "x86_64"

      - name: Build wheels (Mac OSX x86_64)
        if: ${{ matrix.os != 'windows-latest' && matrix.arch != 'aarch64' && runner.os != 'Linux' }}
        uses: pypa/cibuildwheel@v2.16.5
        env:
          # The build requirements should be installed by the pyproject.toml specs
          CIBW_BEFORE_BUILD: python3 -m pip install --upgrade pip && python3 -m pip install blosc2
          CIBW_ENVIRONMENT: CMAKE_OSX_ARCHITECTURES=x86_64 DONT_BUILD_EXAMPLES=1 CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5"
          CIBW_BUILD: 'cp310-* cp311-* cp312-*'
          CIBW_BEFORE_TEST: python3 -m pip install --upgrade pip && python3 -m pip install -r requirements-test.txt
          CIBW_TEST_COMMAND: >
            BLOSC_TRACE=1 python3 -m pytest {project}/tests
          CIBW_ARCHS_LINUX: ${{ matrix.arch }}
          CIBW_ARCHS_MACOS: "x86_64"

      - name: Build wheels (Ubuntu aarch64)
        if: ${{ matrix.os == 'ubuntu-latest' && matrix.arch == 'aarch64' }}
        uses: pypa/cibuildwheel@v2.16.5
        env:
          # The build requirements should be installed by the pyproject.toml specs
          CIBW_BEFORE_BUILD: python3 -m pip install --upgrade pip && python3 -m pip install blosc2
          CIBW_ENVIRONMENT: CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5" DONT_BUILD_EXAMPLES=1
          CIBW_BUILD: 'cp310-* cp311-* cp312-*'
          CIBW_ARCHS_LINUX: "aarch64"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-${{ matrix.os }}-${{ matrix.arch }}
          path: ./wheelhouse/*.whl

  build_wheels_macos_arm64:
    name: Build wheels on macos-14 (arm64)
    runs-on: macos-14
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Install Ninja
        id: ninja
        uses: turtlesec-no/get-ninja@main

      - name: Build wheels (Mac OSX arm64)
        uses: pypa/cibuildwheel@v2.16.5
        env:
          # The build requirements should be installed by the pyproject.toml specs
          CIBW_BEFORE_BUILD: python3 -m pip install --upgrade pip && python3 -m pip install blosc2
          CIBW_ENVIRONMENT: CMAKE_OSX_ARCHITECTURES=arm64 CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5"
          CIBW_BUILD: 'cp310-* cp311-* cp312-*'
          CIBW_TEST_SKIP: "*macosx*arm64*"  # cibuild does not support testing arm64 on macos
          CIBW_ARCHS_MACOS: "arm64"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-14-arm64
          path: ./wheelhouse/*.whl


  upload_pypi:
    needs: [ build_wheels, build_wheels_macos_arm64 ]  # last but not least
    runs-on: ubuntu-latest
    # Only upload wheels when tagging (typically a release)
    if: startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.blosc_pypi_secret }}
