name: Python wheels
on:
  # Trigger the workflow on push or pull request,
  # but only for the main branch
  push:
    branches:
      - main
    tags:
      - '*'
  pull_request:
    branches:
      - main


jobs:

  build_wheels_linux_x86_64:
    name: Build wheels on Linux x86_64
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Ninja
        uses: turtlesec-no/get-ninja@main

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        env:
          CIBW_BEFORE_BUILD: python3 -m pip install --upgrade pip && python3 -m pip install blosc2
          CIBW_ENVIRONMENT: CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5"
          CIBW_BUILD: 'cp312-* cp313-*'
          CIBW_BEFORE_TEST: python3 -m pip install --upgrade pip && python3 -m pip install -r requirements-test.txt
          CIBW_TEST_COMMAND: BLOSC_TRACE=1 python3 -m pytest {project}/tests
          CIBW_ARCHS_LINUX: x86_64

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-x86_64
          path: ./wheelhouse/*.whl

  build_wheels_linux_aarch64:
    name: Build wheels on Linux aarch64 (native)
    runs-on: ubuntu-24.04-arm
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Ninja
        uses: turtlesec-no/get-ninja@main

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        env:
          CIBW_BEFORE_BUILD: python3 -m pip install --upgrade pip && python3 -m pip install blosc2
          CIBW_ENVIRONMENT: CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5" DONT_BUILD_EXAMPLES=1
          CIBW_BUILD: 'cp312-* cp313-*'
          CIBW_BEFORE_TEST: python3 -m pip install --upgrade pip && python3 -m pip install -r requirements-test.txt
          CIBW_TEST_COMMAND: BLOSC_TRACE=1 python3 -m pytest {project}/tests
          CIBW_ARCHS_LINUX: aarch64

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-linux-aarch64
          path: ./wheelhouse/*.whl

  build_wheels_macos_arm64:
    name: Build wheels on macOS arm64
    runs-on: macos-14
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Ninja
        uses: turtlesec-no/get-ninja@main

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        env:
          CIBW_BEFORE_BUILD: python3 -m pip install --upgrade pip && python3 -m pip install blosc2
          CIBW_ENVIRONMENT: CMAKE_OSX_ARCHITECTURES=arm64 CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5"
          CIBW_BUILD: 'cp312-* cp313-*'
          CIBW_BEFORE_TEST: python3 -m pip install --upgrade pip && python3 -m pip install -r requirements-test.txt
          CIBW_TEST_COMMAND: BLOSC_TRACE=1 python3 -m pytest {project}/tests
          CIBW_ARCHS_MACOS: arm64

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-macos-arm64
          path: ./wheelhouse/*.whl

  build_wheels_windows_amd64:
    name: Build wheels on Windows x86_64
    runs-on: windows-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v3
        with:
          submodules: 'recursive'

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.13'

      - name: Install Ninja
        uses: turtlesec-no/get-ninja@main

      - name: Install MSVC amd64
        uses: ilammy/msvc-dev-cmd@v1
        with:
          arch: amd64

      - name: Build wheels
        uses: pypa/cibuildwheel@v2.22.0
        env:
          CIBW_BEFORE_ALL: python -m pip install cibuildwheel -U
          CIBW_ENVIRONMENT: CMAKE_ARGS="-DCMAKE_POLICY_VERSION_MINIMUM=3.5"
          CIBW_BUILD: 'cp312-win_amd64'
          CIBW_BEFORE_TEST: python -m pip install --upgrade pip && python -m pip install -r requirements-test.txt
          CIBW_TEST_COMMAND: cmd /V /C "set BLOSC_TRACE=1 && python -m pytest {project}/tests"

      - name: Upload wheels
        uses: actions/upload-artifact@v4
        with:
          name: wheels-windows-amd64
          path: ./wheelhouse/*.whl


  upload_pypi:
    needs: [build_wheels_linux_x86_64, build_wheels_linux_aarch64, build_wheels_macos_arm64, build_wheels_windows_amd64]
    runs-on: ubuntu-latest
    # Only upload wheels when tagging (typically a release)
    if: startsWith(github.event.ref, 'refs/tags')
    steps:
      - uses: actions/download-artifact@v4
        with:
          pattern: wheels-*
          path: dist
          merge-multiple: true

      - uses: pypa/gh-action-pypi-publish@release/v1
        with:
          user: __token__
          password: ${{ secrets.blosc_pypi_secret }}
